<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>New Game</title>
    </head>
    <body>
    <h1>Start a new game</h1>
    <div id="app" />

{#    <script>#}
{#        function sendPost(x, y) {#}
{#            console.log(x, y);#}
{#            fetch(`/ttt/update_game/x=${x}&y=${y};"`)#}
{#                .then((response) => {#}
{#                    return response.json();#}
{#                })#}
{#                .then((data) => {#}
{#                    console.log(data);#}
{#                });#}
{#        }#}
{#    </script>#}
{#    <table class="fixed" border="1px">#}
{#        <tr>#}
{#            <td width="50px" height="50px" onclick= "sendPost(0, 0)" />#}
{#            <td width="50px" height="50px" onclick= "sendPost(0, 1)" />#}
{#            <td width="50px" height="50px" onclick= "sendPost(0, 2)" />#}
{#        </tr>#}
{#        <tr>#}
{#            <td width="50px" height="50px" onclick= "sendPost(1, 0)" />#}
{#            <td width="50px" height="50px" onclick= "sendPost(1, 1)" />#}
{#            <td width="50px" height="50px" onclick= "sendPost(1, 2)" />#}
{#        </tr><tr>#}
{#            <td width="50px" height="50px" onclick= "sendPost(2, 0)" />#}
{#            <td width="50px" height="50px" onclick= "sendPost(2, 1)" />#}
{#            <td width="50px" height="50px" onclick= "sendPost(2, 2)" />#}
{#        </tr>#}
{#    </table>#}

    <br />
</body>
    {% load static %}
    <script type="text/javascript" src="{% static 'dist/bundle.js' %}"></script>
</html>